@media (max-width:767px) {
    .sidebar {
        width: 80px;
        /* 65 */
        padding: 10px;
    }

    .sidebar h3 {
        font-size: 13px;
        margin-bottom: 15px;
        margin-left: 0;
    }

    .sidebar h3::before,
    .sidebar h3::after {
        display: none;
    }
}
@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media (max-width: 767px) {
    .welcome .intro{
        padding-bottom: 30px;
    }
    .welcome .body{
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
    }
    .welcome .avatar{
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child){
        margin-bottom: 20px;
    }
}