    /* Start Sidebar */
    .sidebar 
    {
    background-color: #fff;
        box-shadow: 0 0 1px black;
        width: fit-content;
        height: 100vh;
    }
    .sidebar ul
    {
        list-style: none;
                position: relative;
                left: -35px;
        
    }
    .sidebar ul li  a{
        padding-left: 5px;
        
    }
    .sidebar ul li {
        padding-bottom: 15px;
    }
    .sidebar aside h3::before{
    content: '';
        position: absolute;
        width: 15px;
        left: 43%;
        height: 15px;
        background: #000;
        border-radius: 50%;
        top: 76%;
    }

    .sidebar aside h3::after{
        content: '';
        position: absolute;
        width: 2px;
        height: 60px;
        background: #000;
        transform: rotate(90deg);
        left: 70px;
    }
    /* End Sidebar */
    /* Start content */
    .content .header .right img{
        width: 30px;
                height: 30px;
    }
    .content .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* End content */
        #e {
            animation-name: e-color;
            animation-delay: 0.5s;
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    
        @keyframes e-color {
            to {
                color: #0075ff;
            }
        }
    
        #l {
            animation-name: l-color;
            animation-delay: 0.5s;
            /* 1 */
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    
        @keyframes l-color {
            to {
                color: var(--gray-color);
            }
        }
    
        #h {
            animation-name: h-color;
            animation-delay: 0.5s;
            /* 1.5 */
            /* 2 */
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    
        @keyframes h-color {
            to {
                color: var(--green-color);
            }
        }
    
        #a {
            animation-name: a-color;
            animation-delay: 0.5s;
            /* 1.6 */
            /* 2 */
            /* 2.5 */
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    
        @keyframes a-color {
            to {
                color: var(--orange-color);
            }
        }
    
        #r {
            animation-name: r-color;
            animation-delay: 0.5s;
            /* 1.7 */
            /* 2.5 */
            /* 3 */
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    
        @keyframes r-color {
            to {
                color: var(--red-color);
            }
        }
    
        #e-2 {
            animation-name: e-2-color;
            animation-delay: 0.5s;
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    
        @keyframes e-2-color {
            to {
                color: orangered;
            }
        }
    
        #r-2 {
            animation-name: r-2-color;
            animation-delay: 0.5s;
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    
        @keyframes r-2-color {
            to {
                color: green;
            }
        }
    
        #y {
            animation-name: y-color;
            animation-delay: 0.5s;
            animation-timing-function: linear;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    
        @keyframes y-color {
            to {
                color: var(--blue-alt-color);
            }
        }