/* Start Box */
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
/* End Box */

/* Start padding and margin */
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}

/* End padding and margin */
/* Start color */
.bg-white{
    background-color: white;
}
/* End color */
/* Start position */
.p-relative{
    position: relative;
}
.p-abs{
    position: absolute;
}
ul{
    list-style: none;
}
a{
    color: #000;
}
/* End position */
/* Start Text align */
.txt-c{
    text-align: center;
}
/* End Text align */
/* Start list style */
.list-none{
    list-style: none;
}
/* End list style */
/* Start Font Size */
.fs-14{
    font-size: 14px;
}
/* End Font Size */
/* Start color */
.c-black{
    color: black;
}
.c-white{
    color: white;
}
/* End color */
/* Start border */
.rad-6{
    border-radius: 6px;
}
/* End border */